# Prefixes
#   PUBLIC_   — Safe to expose to the client/browser
#   EMAIL_    — Holds meta to create an email address, typically has two values. EMAIL_X_NAME and EMAIL_X_ADDRESS
#
# Infixes
#   _API_     — External third-party API credentials
#   _AUTH_    — Authentication related
#
# Suffixes
#   _URL      — URL value
#   _SECRET   — Sensitive value (never expose to client)
#   _KEY      — Non-sensitive identifier (e.g. public API key)
#
# Examples
#   PUBLIC_LASTFM_API_KEY   — Public, third-party API, non-sensitive
#   LASTFM_API_SECRET       — Third-party API, sensitive
#   BETTER_AUTH_SECRET      — Internal, authentication related, sensitive
#   DATABASE_URL            — Internal config, not sensitive, but private

ORIGIN="http://localhost:5173"

DATABASE_URL=""
DATABASE_SECRET=""

BETTER_AUTH_SECRET=""
GITHUB_AUTH_ID=""
GITHUB_AUTH_SECRET=""

EMAIL_AUTH_NAME=""
EMAIL_AUTH_ADDRESS=""

RESEND_API_SECRET=""

PUBLIC_LASTFM_API_KEY=""
LASTFM_API_SECRET=""
