{
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "none",
	"printWidth": 100,
	"tailwindStylesheet": "./src/app.css",
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss",
		"@ianvs/prettier-plugin-sort-imports"
	],
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"",
		"^\\$lib/(.*)$",
		"",
		"^\\$(env|app)/(.*)$",
		"",
		"^(?!.*[.]css$)[./].*$",
		"",
		".css$",
		"",
		"^[.]"
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
